@charset "UTF-8";

@font-face {
    font-family: 'Arial-Black';
    src: url('../fonts/Arial Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@page {
	/*size: 100mm 100mm;*/
}

#gutterinfo_jobID_text {
	position: absolute;
	color: -cchip-cmyk('All', 1.0, 1.0, 1.0, 1.0);
	background-color: white;
	font-family: Arial-Black;
	font-size: 27mm;
	margin: 0px;
/* 	padding: 0; */
}

#template_barcode {
	position: absolute;
	color: -cchip-cmyk('All', 1.0, 1.0, 1.0, 1.0);
	background-color: white;
	font-family: Arial-Black;
	font-size: 8px;
	width: auto;
	height: 19mm;
}

.barcode {
	position: absolute;
	color: -cchip-cmyk('All', 1.0, 1.0, 1.0, 1.0);
	background-color: white;
	font-family: Arial-Black;
	font-size: 8px;
	width: auto;
	height: 19mm;
	
}